# MongoDB Connection String
# Example: mongodb+srv://<username>:<password>@cluster.mongodb.net/solar_fetch
MONGODB_URI=

# Port for the Express server
PORT=5000

# Vercel Deployment (Optional, set to 1 if deploying to Vercel)
# VERCEL=0

# Node Environment
NODE_ENV=development
